#img-bg{
  background-image: url('https://images.unsplash.com/photo-1628714957355-2540a33a2566?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=392&q=80');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}